

body{
  font-family: 'Lato', sans-serif;
  color: rgb(46,46,46);
  
}
.font-link{
  font-family: 'Lato', sans-serif;;
}
.nav-bar .nav-links .links{
  
  max-height: 90px;
  text-decoration: none;
  color: rgb(46,46,46);
  font-size: 16px;
  font-weight:bolder;
  margin-left: 15px;
  padding: 10px 10px;
}



.nav-bar{
    display: flex;
    height: 40px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
}

.nav-bar .nav-links{
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content:right;
  padding-right: 45px;
}

.links-name{
  text-decoration: none;
  color: rgb(46,46,46);
  font-size: 22px;
  font-weight:700;

}
.links-name:hover{
  background-color:grey;
  color: rgb(46,46,46);
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.links:hover{
  background-color:grey;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  }
.home-page{
  max-width:100%;
  align-items:center;
  overflow:auto
}
  .home-container{
    background-color:rgba(150, 129, 176, 0.7);
    border-top: solid 2px rgb(63, 8, 135);
    border-bottom:solid 2px rgb(63, 8, 135);
   
  }
  
  .headings{
    font-family: 'Lato', sans-serif;
  }

  
  h1{
    font-size:50px;
    margin-top:-5px
  }
  h3{
    font-size:25px;
    padding-bottom:20px;
    margin-top:-15px;
    color:rgb(77, 60, 60)
  }

  .profile-pic{
    margin-top:30px;
    border:solid 2px
  }
  .img-link{
    text-decoration: none;
    color:rgb(63, 8, 135)
  }

  .img-link:hover{
    text-decoration: none;
    color: black
  }


  .bottom-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
  
    
  }
  .about-me{
    text-align: left;
    margin-top:20px;
    margin-left:40%;
    width:80%
  }
  p{
    font-size: 20px;
    text-align:left
  }

  .contact {
    text-align: left;
    margin-top:20px;
    margin-left:40%

  }

  .icons {
    font-size: 17px;
    color: black
     
  }
  i.icon{
    margin-bottom:3px
  }

  .project-help{
    color:rgb(77, 60, 60);
    font-size:28px;
    padding-bottom:10px
  }

  .footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: .5rem;
    background-color:white;
    padding:.5rem;
    border-top: solid 2px rgba(63, 8, 135,.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
  }
  .footer-name{
    font-size: 16px;
    opacity:.7
  }
 
  .footer-icons{
    opacity:.7;
  text-align: end;
  }
 .project1-container, .project2-container, .project3-container, .project4-container{
    margin: 30px 0 0 50px;
    border-bottom: solid 1px;
    width:90%;

  }
  .project1-container{
    padding-bottom: 6%
  }
  .project2-container{
    padding-bottom: 4%;
  }

  .project3-container, .project4-container{
    padding-bottom:10%
  }
  
  .whack-a-mole-text, .bond-text, .cyclelist-text, .stox-text{
    font-size:23px;
    width:100;
   
  }

  .project-title{
    font-size: 35px;
    font-weight: bold;

  }
  .project-title::after{
    content:'\a';
    white-space: pre;

  }
 .pdf-file {
  display:flex;
  flex-direction: column;
  align-items: center;
 
 }
  .pdf-button{
    margin:20px 0 0 30px
  }
 @media only screen and (max-width:650px){
  .links-name {
    visibility:hidden
  }
  h1{
    font-size:2rem;
    margin-top:5px
  }
  h2{
    font-size:1.4rem
  }
  h3, .project-help{
    font-size: 1.6rem;
  }
  p{
    font-size:1.2rem
  }
  .contact{
    visibility: hidden;
  }
  .about-me{
    width:150%
  }
  .footer-name, .footer-icons{
    opacity: 1;
  }
  .project-title{
    font-size: 1.5rem;
    font-weight: bold;

  }
  .project-container{
    display:flex;
    flex-direction: column;
    margin-left: -10px;
  }
  .project1-container, .project2-container, .project3-container, .project4-container{
    padding-bottom: 5%;
   
  }
.whack-a-mole-text, .bond-text, .cyclelist-text, .stox-text{
  display:flex;
  flex-direction: column;
  margin-left:10px;
  width: 80%;
  font-size: 1rem;
 }
 .pdf-file {
margin-left:70%;

 }
 .pdf-button{
 margin:10px 0 0 -275px
}
 
 }
 